@import "primeng/resources/themes/saga-orange/theme.css"; // Or your chosen theme
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css"; // If using PrimeIcons

@font-face {
  font-family: "Matrix";
  src: url("assets/fonts/matrix.woff") format("woff");
  font-weight: normal; /* Or specify a different weight */
  font-style: normal;
}

:root {
  --theme-color: #ea580c;

  font-family: "Inter", sans-serif;

  .logo-size {
    width: 8rem !important;
  }

  .bg-orange-600 {
    background: var(--theme-color) !important;
    border-radius: 1rem 1rem 1rem 1rem !important;
  }

  .bg-orange-500 {
    background: linear-gradient(
      to bottom,
      var(--theme-color),
      #fcd9c7
    ) !important;
    border-radius: 1rem 1rem 1rem 1rem !important;
  }

  .text-orange-600 {
    color: var(--theme-color) !important;
  }

  .bg-white {
    background-color: white !important;
  }


}
